
@media all and (max-width: 768px)
{


footer{
flex-direction: column;


}


footer{
    border: solid #e9531d 2px;
    background-color: white;
}



.footer{
    margin-left: 15px; 
      
}


}





